body {
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: black;
    background:white;
    border-top: 20px solid black;
}

header.gamers {
    background: rgb(10, 165, 165);
    position: sticky;
    top: 0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}